/* public */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}
li{
  text-decoration: none;
}
a{
  text-decoration: none;
  color: #2c3e50;
}
h1 {
  font-size: 56px;
}